@model ContosoUniversity.Models.Course

@{
    ViewData["Title"] = "Details";
}

    <section class="page-section cta">
        <div class="container" id="scroll">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-5">
                            <span class="section-heading-upper">Details</span>
                            <span class="section-heading-lower">Course</span>
                        </h2>
                        <div class="row justify-content-center">
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.CourseID)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.CourseID)
                            </dd>
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Title)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.Title)
                            </dd>
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Credits)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.Credits)
                            </dd>
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Department)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.Department.Name)
                            </dd>
                            </dl>
                        </div>
                        <div>
                            <a asp-action="Edit" asp-route-id="@Model.CourseID">Edit</a> |
                            <a asp-action="Index">Back to List</a>
                        </div></div></div></div></div></section>
