@model ContosoUniversity.Models.Student

@{
    ViewData["Title"] = "Delete";
}
    <section class="page-section cta">
        <div class="container" id="scroll">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-5">
                            <span class="section-heading-upper">Delete</span>
                            <span class="section-heading-lower">Student</span>
                        </h2>
                        <dl class="row">
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.LastName)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.LastName)
                            </dd>
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.FirstMidName)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.FirstMidName)
                            </dd>
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.EnrollmentDate)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.EnrollmentDate)
                            </dd>
                        </dl>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="ID" />
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            <a asp-action="Index">Back to List</a>
                        </form>
                    </div></div></div></div></section>
