@model ContosoUniversity.Models.Student

@{
    ViewData["Title"] = "Details";
}

<section class="page-section cta">
    <div class="container" id="scroll">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Details</span>
                        <span class="section-heading-lower">Student</span>
                    </h2>
                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.LastName)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.FirstMidName)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.FirstMidName)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.EnrollmentDate)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.EnrollmentDate)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Enrollments)
                        </dt>
                        <dd class="col-sm-6">
                            <table class="table">
                                <tr>
                                    <th>Course Title</th>
                                    <th>Grade</th>
                                </tr>
                                @foreach (var item in Model.Enrollments)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Course.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Grade)
                                        </td>
                                    </tr>
                                }
                            </table>
                        </dd>
                    </dl>
                    <div>
                        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>