@model IEnumerable<ContosoUniversity.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/department.jpg" alt="">
        <div class="about-heading-content">
            <div class="row" id="scroll">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">search, edit, delete</span>
                            <span class="section-heading-lower">Departments</span>
                        </h2>
                        <p>
                            <a asp-action="Create">Create New</a>
                        </p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Budget)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.StartDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Administrator)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Budget)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StartDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Administrator.FullName)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.DepartmentID">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.DepartmentID">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.DepartmentID">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        </div></div></div></div></div></section>