@model ContosoUniversity.Models.SchoolViewModels.InstructorIndexData

@{
    ViewData["Title"] = "Instructors";
}

<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/instructor.jpg" alt="">
        <div class="about-heading-content">
            <div class="row" id="scroll">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">search, edit, delete</span>
                            <span class="section-heading-lower">Courses</span>
                        </h2>
                        <p>
                            <a asp-action="Create">Create New</a>
                        </p>
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th>Last Name</th>
                                    <th>First Name</th>
                                    <th>Hire Date</th>
                                    <th>Office</th>
                                    <th>Courses</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Instructors)
                                {
                                    string selectedRow = "";
                                    if (item.ID == (int?)ViewData["InstructorID"])
                                    {
                                        selectedRow = "success";
                                    }
                                    <tr class="@selectedRow">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FirstMidName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HireDate)
                                        </td>
                                        <td>
                                            @if (item.OfficeAssignment != null)
                                            {
                                                @item.OfficeAssignment.Location
                                            }
                                        </td>
                                        <td>
                                            @{
                                                foreach (var course in item.CourseAssignments)
                                                {
                                                    @course.Course.CourseID @:  @course.Course.Title <br />
                                                }
                                            }
                                        </td>
                                        <td>
                                            <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
                                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@if (Model.Courses != null)
{
    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/course.jpg" alt="">
            <div class="about-heading-content">
                <div class="row" id="scroll">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Courses taught by</span>
                                <span class="section-heading-lower">Selected Instructor</span>
                            </h2>
                            <table class="table">
                                <tr>
                                    <th></th>
                                    <th>Number</th>
                                    <th>Title</th>
                                    <th>Department</th>
                                </tr>

                                @foreach (var item in Model.Courses)
                                {
                                    string selectedRow = "";
                                    if (item.CourseID == (int?)ViewData["CourseID"])
                                    {
                                        selectedRow = "success";
                                    }
                                    <tr class="@selectedRow">
                                        <td>
                                            @Html.ActionLink("Select", "Index", new { courseID = item.CourseID })
                                        </td>
                                        <td>
                                            @item.CourseID
                                        </td>
                                        <td>
                                            @item.Title
                                        </td>
                                        <td>
                                            @item.Department.Name
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@if (Model.Enrollments != null)
{
    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/student.jpg" alt="">
            <div class="about-heading-content">
                <div class="row" id="scroll">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Students in</span>
                                <span class="section-heading-lower">Selected Course</span>
                            </h2>
                            <table class="table">
                                <tr>
                                    <th>Name</th>
                                    <th>Grade</th>
                                </tr>
                                @foreach (var item in Model.Enrollments)
                                {
                                    <tr>
                                        <td>
                                            @item.Student.FullName
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Grade)
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
